<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      UsersList
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="addUsers()">
    <ion-icon name="person-add-outline"></ion-icon>Add Users
  </ion-button>



  <ion-card *ngFor="let user of users">
    <ion-card-header>
      <ion-card-title>{{user.name}}</ion-card-title>
      <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item><ion-icon name="call-outline" slot="start"></ion-icon> {{user.mobile}}</ion-item>
      <ion-item>
        <ion-icon *ngIf="user.gender === 'male'" slot="start" name="man-outline"></ion-icon>
        <ion-icon *ngIf="user.gender === 'female'" slot="start" name="woman-outline"></ion-icon>
        {{user.gender}}
      </ion-item>
      <ion-item><ion-icon name="home-outline" slot="start"></ion-icon> {{user.address}}</ion-item>
    </ion-card-content>

    <ion-button fill="clear" class="update-button" (click)="onEdit(user.id)">
      <ion-icon slot="start" name="create"></ion-icon>
      Update
    </ion-button>

    <ion-button fill="clear" class="delete-button" (click)="presentAlert(user.id)" >
      <ion-icon slot="start" name="trash"></ion-icon>Delete</ion-button>

   
  </ion-card>

</ion-content>
